<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户管理系统首页</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
    <div class="layui-container">
        <h1>欢迎来到用户管理系统</h1>
        <div class="layui-btn-container">
            <a href="/user/list" class="layui-btn layui-btn-primary">用户管理</a>
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script>
        layui.use(['jquery'], function(){
            var $ = layui.jquery;
            // 这里可以使用 jQuery 进行操作
        });
    </script>
</body>
</html>
